@model CareeriaDevsApp.OmaSisalto

        @{
            ViewBag.Title = "Edit";
        }

        <script src="~/Scripts/ckeditor/ckeditor.js"></script>
        <script src="~/Scripts/ckeditor/samples/js/sample.js"></script>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>OmaSisalto (Edit)</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.omaSisalto_Id)

                <div class="form-group">
                    <p class="control-label col-md-2">Lisää  kuvasi url-osoite alla olevaan kenttään:</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.omaKuva, new { htmlAttributes = new { @class = "form-control", @id = "addimage" } })
                        @Html.ValidationMessageFor(model => model.omaKuva, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-md-2">Oma esittely:</p>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.omaTeksti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.omaTeksti, "", new { @class = "text-danger" })
                        <script type="text/javascript" language="javascript">
                    CKEDITOR.replace(@Html.IdFor(model => model.omaTeksti));@*CKEDITORI korvaa mvc:n editorin*@
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownList("opiskelija_Id", null, htmlAttributes: new { @class = "form-control", @style = "display: none" })@*Tällä hetkellä opiskelija id:tä tarvitaan controlleriin,
                                                                                                                                              siksi @style = "display:none"*@
                        @Html.ValidationMessageFor(model => model.opiskelija_Id, "", new { @class = "text-danger",@style = "display: none" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Takaisin", "Index", null, new { @class = "btn btn-light" }) <input type="submit" value="Tallenna" class="btn btn-yellow" />
                    </div>
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
