@model CareeriaDevsApp.OmaSisalto

@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/samples/js/sample.js"></script>

<div class="container">

    <div class="row">

        <div class="col">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h1 class="m-5 text-center">Osaajaprofiilin päivitys</h1>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.omaSisalto_Id)

                    <div class="form-group">
                        <label for="addimage">Lisää kuvasi url-osoite alla olevaan kenttään:</label>
                        @Html.EditorFor(model => model.omaKuva, new { htmlAttributes = new { @class = "form-control", @id = "addimage" } })
                        @Html.ValidationMessageFor(model => model.omaKuva, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="omaTeksti">Muokkaa omaa esittelysi sisältöäsi:</label>
                        @Html.TextAreaFor(model => model.omaTeksti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.omaTeksti, "", new { @class = "text-danger" })
                        <script type="text/javascript" language="javascript">
                        CKEDITOR.replace(@Html.IdFor(model => model.omaTeksti));@*CKEDITORI korvaa mvc:n editorin*@
                        </script>
                    </div>

                    <div class="form-group">
                        @Html.DropDownList("opiskelija_Id", null, htmlAttributes: new { @class = "form-control", @style = "display: none" })
                        @*Tällä hetkellä opiskelija id:tä tarvitaan controlleriin, siksi @style = "display:none"*@
                        @Html.ValidationMessageFor(model => model.opiskelija_Id, "", new { @class = "text-danger", @style = "display: none" })
                    </div>

                    @Html.ActionLink("Takaisin", "Index", null, new { @class = "btn btn-light" }) <input type="submit" value="Tallenna" class="btn btn-yellow" />
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
