@model IEnumerable<CareeriaDevsApp.OmaSisalto>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.omatAsetukset)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.omaKuva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.omaTeksti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opiskelija.etunimi)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.omatAsetukset)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.omaKuva)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.omaTeksti)*@
                @Html.Raw(HttpUtility.HtmlDecode(item.omaTeksti))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opiskelija.etunimi) @Html.DisplayFor(modelItem => item.Opiskelija.sukunimi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.omaSisalto_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.omaSisalto_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.omaSisalto_Id })
            </td>
        </tr>
        
    }

</table>

