@model IEnumerable<CareeriaDevsApp.OmaSisalto>


@{
    ViewBag.Title = "Index";
}

<h2>Opiskelijaprofiilit(Admin)</h2>

<p>
    @Html.ActionLink("Luo uusi", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.omatAsetukset)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.omaKuva)
        </th>
        <th>
            <p>Nimi</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.omaTeksti)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
<tr>
    @*<td>
            @Html.DisplayFor(modelItem => item.omatAsetukset)
        </td>*@
    <td>
        @*@Html.DisplayFor(modelItem => item.omaKuva)*@
        <img src="@Html.Raw(HttpUtility.HtmlDecode(item.omaKuva))" width="200"/>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Opiskelija.etunimi) @Html.DisplayFor(modelItem => item.Opiskelija.sukunimi)
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.omaTeksti)*@
        @Html.Raw(HttpUtility.HtmlDecode(item.omaTeksti))
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.opiskelija_Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.opiskelija_Id})
    </td>
</tr>
        
    }

</table>

