@model IEnumerable<CareeriaDevsApp.OmaSisalto>


    @{
        ViewBag.Title = "OpisSisalto";
        var success = TempData["tallennusonnistui"];
        var unsuccess = TempData["tallennusepaonnistui"];
    }

    <div class="alert alert-warning text-center" role="alert">
        Tervetuloa <strong>@ViewBag.opiskelijanimi</strong>.
        Sinulle on <span class="badge badge-primary">@ViewBag.lukemattomatViestit</span> uutta viestiä. @Html.ActionLink("Lue saapuneet viestit", "HaeOpiskelijanViestit", "Viestis", new { id = Session["student_id"] }, null)
        @*käytetään loginissa saatua Session["student_id"] ominaisuutta viittaamaan oikeaan tauluun*@
        
    </div>

    <div>
        @if (success != null)
        {
        <div class="alert alert-success text-center" role="alert">
            <h2> @TempData["tallennusonnistui"]</h2>
        </div>
            }
            @if (unsuccess != null)
            {
        <div class="alert alert-danger text-center" role="alert">
            <h2> @TempData["tallennusepaonnistui"]</h2>
        </div>
        }
    </div>

    <div class="container">
        <div class="row mt-5 mb-5">

                @if (Session["student_id"] != null)
                {
                    foreach (var item in Model)
                    {
                        @*Näytetään opiskelijan omaKuva -tietokannasta <img> sisään:*@
                        <div class="col-3">
                            <img src="@Html.Raw(HttpUtility.HtmlDecode(item.omaKuva))" class="img-fluid profiili-kuva">
                        </div>

                        <div class="col-6">
                            <h5 class="bg-yellow p-2">@ViewBag.opiskelijanimi</h5>
                            @*Näytetään opiskelijan itsemuokkaama "profiili":*@
                            <script type="text/javascript">
                                var naytaTeksti = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(item.omaTeksti)) /*Sanotaan notta eläpä suorita scriptejä*/
                            </script>
                            @if (item.omaTeksti != null)
                            {
                                <p>
                                    <script type="text/javascript">
                                        document.write(naytaTeksti)
                                    </script>
                                </p>
                            }
                            </div>

                        <div class="col-3 bg-yellow p-3 linkit">
                            @Html.ActionLink("Muokkaa osaajaprofiilia", "Edit", new { id = Session["student_id"] })
                            @Html.ActionLink("Muokkaa omia tietoja", "OppilasTiedotUpdate", "Logins", new { id = Session["student_id"] }, null)
                        </div>
                    }
                }

        </div>
    </div>
