@model PagedList.IPagedList<CareeriaDevsApp.OmaSisalto>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    ViewBag.Title = "YritysSisalto";
    var success = TempData["tallennusOnnistui"];
    var saveError = TempData["tallennusEpaonnistui"];
}

<div class="alert alert-warning text-center" role="alert">
    Tervetuloa <strong>@ViewBag.yritysnimi</strong>.
    Sinulle on <span class="badge badge-primary">@ViewBag.lukemattomatViestit</span> uutta viestiä. @Html.ActionLink("Lue saapuneet viestit", "HaeYrityksenViestit", "Viestis", new { id = Session["corporate_id"] }, null)
</div>

<div class="muokkaa-yrityksesi">
    <i class="fa fa-address-card"></i> @Html.ActionLink("Muokkaa omia tietoja", "YritysTiedotUpdate", "Logins", new { id = Session["corporate_id"], @class = "btn btn-light" }, null)
</div>

<div>
    @if (success != null)
    {
        <div class="alert alert-success text-center" role="alert">
            <h2> @TempData["tallennusOnnistui"]</h2>
        </div>
    }
    @if (saveError != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            <h2> @TempData["tallennusEpaonnistui"]</h2>
        </div>
    }
</div>

<div class="container">
    <div class="row mb-5 mt-5">

        <div class="col-12 d-flex align-items-center justify-content-center">

            @*Hakuinput*@

            @using (Html.BeginForm("YritysSisalto", "OmaSisaltos", FormMethod.Get))  //Tommi, tägää OmaSisaltos controllerin YritysSisalto metodin avainsanahakua varten
            {
                <div class="input-group mb-5">
                    @Html.TextBox("search", null, new { @class = "form-control search-bar" })
                    <div class="input-group-append">
                        <button class="btn btn-yellow" type="submit">Hae</button>
                    </div>
                </div>
            }

        </div>



        <table class="table table-hover">
            @if (Model.Count() == 0)  //Tommi, Jos avainsanalla ei tule osumia
            {
                <tr>
                    <td colspan="4"><div class="alert alert-danger" role="alert">Tällä avainsanalla ei tullut osumia</div></td>
                </tr>
            }
            else  //Tommi, Jos osumia tulee, suoritetaan foreach.
            {
                @*Haku rajaa tavaraa, mutta silti alla oleva foreach ajetaan alussa, alla oleva foreach paginoitava tai top10*@
            }


            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.omatAsetukset)
                        </td>*@
                    <td>
                        @*@Html.DisplayFor(modelItem => item.omaKuva)*@
                        @*Näytetään opiskelijan omaKuva -tietokannasta <img> sisään:*@
                        <img src="@Html.Raw(HttpUtility.HtmlDecode(item.omaKuva))" class="img-fluid profiili-kuva-small">
                    </td>
                    <td>
                        @*Näytetään opiskelijan koko nimi:*@
                        @Html.DisplayFor(modelItem => item.Opiskelija.etunimi) @Html.DisplayFor(modelItem => item.Opiskelija.sukunimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opiskelija.Postitoimipaikka.postitoimipaikka1)
                    </td>
                    <td>
                        @*Näytetään opiskelijan itsemuokkaama "profiili":*@
                        @Html.Raw(HttpUtility.HtmlDecode(item.omaTeksti))
                    </td>
                    <td>
                        @Html.ActionLink("Lähetä viesti", "CreateOffer", "Viestis", new { opisId = item.opiskelija_Id }, new { @class = "btn btn-light" })
                    </td>

                </tr>

            }

        </table>
        <br />
        Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("YritysSisalto",
            new {page, search = Request.QueryString["search"]}))

    </div>

</div>