@model IEnumerable<CareeriaDevsApp.Viesti>

@{
    ViewBag.Title = "HaeYrityksenViestit";
}

<h2>Saapuneet viestit</h2>

@if (Session["corporate_id"] != null)
{
    foreach (var item in Model.Reverse())
    {
        @*Näytetään opiskelijan viestit:*@
        <div><h4>Viestin aihe: @Html.DisplayFor(modelItem => item.inbox)</h4></div>
        <div><h6>Lähettäjä: @Html.DisplayFor(modelItem => item.Opiskelija.etunimi) @Html.DisplayFor(modelItem => item.Opiskelija.sukunimi) | <i>@Html.DisplayFor(modelItem => item.viestinPaivays)</i></h6></div>
        <hr />
        <div><h6>Viesti:</h6></div>
        <div>@Html.Raw(HttpUtility.HtmlDecode(item.viestiLoki))</div>
        <hr />
        @Html.ActionLink("Vastaa viestiin", "ReplyToStudent", "Viestis", new { opiskelijaId = item.opiskelija_Id, vastausAihe = item.inbox }, null)
        <br />
        if (item.onkoLuettu == false)
        {
            <div id="id=" viestiLuetuksi""><a href="~/Viestis/ViestiLuetuksi?id=@item.viesti_Id" onclick="viestiLuettu()">Merkitse viesti luetuksi</a></div>
        }
        <script>
            function viestiLuettu() { //
                document.getElementById("viestiLuetuksi").style.display = "none";
            }
        </script>
        @Html.ActionLink("Delete", "Delete", new { id = item.viesti_Id })
        <hr />
        <br />
        <br />
        <br />
        <br />

    }

}

<hr />
@Html.ActionLink("Takaisin", "YritysSisalto", "OmaSisaltos")