@model CareeriaDevsApp.Viesti

@{
    ViewBag.Title = "ReplyToStudent";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/samples/js/sample.js"></script>

<h2>Luo vastausviesti</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Viesti</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Otsikko:
            <div class="col-md-10">
                @Html.DisplayFor(model => model.inbox, "", new { @class = "text-danger" })
                @*@Html.EditorFor(model => model.inbox, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.inbox, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.viestiLoki, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.viestiLoki, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.viestiLoki, "", new { @class = "text-danger" })
                <script type="text/javascript" language="javascript">
                    CKEDITOR.replace(@Html.IdFor(model => model.viestiLoki));@*CKEDITORI korvaa mvc:n editorin*@
                </script>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.opiskelija_Id, "opiskelija_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("opiskelija_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.opiskelija_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.yritys_Id, "yritys_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("yritys_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.yritys_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.paaKayttaja_Id, "paaKayttaja_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("paaKayttaja_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.paaKayttaja_Id, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Takaisin", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}