@model CareeriaDevsApp.Viesti

@{
    ViewBag.Title = "Vastaa viestiin";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/samples/js/sample.js"></script>

<div class="container">
    <div class="row">
        <div class="col">

            <h1 class="m-5 text-center">Luo vastausviesti</h1>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="inbox"><strong>Otsikko: @Html.DisplayFor(model => model.inbox, "")</strong></label>
                        @*@Html.EditorFor(model => model.inbox, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.inbox, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(model => model.viestiLoki, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.viestiLoki, "", new { @class = "text-danger" })
                        <script type="text/javascript" language="javascript">CKEDITOR.replace(@Html.IdFor(model => model.viestiLoki));@*CKEDITORI korvaa mvc:n editorin*@
                        </script>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.opiskelija_Id, "opiskelija_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("opiskelija_Id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.opiskelija_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.yritys_Id, "yritys_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("yritys_Id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.yritys_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.paaKayttaja_Id, "paaKayttaja_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("paaKayttaja_Id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.paaKayttaja_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <input type="submit" value="Vastaa viestiin" class="btn btn-success" />
                    </div>
            }

            @Html.ActionLink("Takaisin", "Index", null, new { @class = "btn btn-light" })

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
