@model CareeriaDevsApp.Opiskelija

@{
    ViewBag.Title = "Delete";
}

<h3>Haluatko varmasti poistaa käyttäjän kaikki tiedot järjestelmästä?</h3>

<p>Poistamisen jälkeen sinun on luotava uusi tunnus, jos haluat palata sivustolle</p>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Etunimi</dt>
        <dd>
            @Html.DisplayFor(model => model.etunimi)
        </dd>
        <dt>Sukunimi</dt>
        <dd>
            @Html.DisplayFor(model => model.sukunimi)
        </dd>
        <dt>Paikkakunta</dt>
        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikka.postitoimipaikka1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Peruuta", "Index")
        </div>
    }
</div>
