@model IEnumerable<CareeriaDevsApp.Login>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kayttajaNimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salasana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opiskelija.etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yritys.yrityksenNimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaaKayttaja.nimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kayttajaNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salasana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opiskelija.etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yritys.yrityksenNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaaKayttaja.nimi)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.login_Id }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.login_Id })
        </td>
    </tr>
}

</table>
