@model IEnumerable<CareeriaDevsApp.Yritys>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yrityksenNimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y_tunnus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lahiosoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postitoimipaikka.postinumero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.yrityksenNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y_tunnus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lahiosoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postitoimipaikka.postinumero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.yritys_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.yritys_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.yritys_Id })
        </td>
    </tr>
}

</table>
