<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careeria JobApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome.css")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #fff;">
        <div class="container">

            @Html.ActionLink("Careeria JobApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            @*<a class="navbar-brand" href="#">
                    <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg"
                         width="30"
                         height="30"
                         alt="" />
                </a>*@

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                </ul>
                <form class="form-inline">
                    @if (Convert.ToInt32(Session["islogged"]) != 1)
                    {
                        <div class="dropdown">
                            <button class="btn btn-outline-yellow dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Rekisteröidy
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" onclick='window.location.href = "@Url.Action("OppilasRekisterointi", "Logins", routeValues: null)"'>Työnhakijaksi</a>
                                <a class="dropdown-item" onclick='window.location.href = "@Url.Action("YritysRekisterointi", "Logins", routeValues: null)"'>Työnantajaksi</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (Session["student_id"] != null)
                        {
                            <input type="button" id="opProfiili" class="btn btn-yellow ml-2" value="Oma profiili" onclick='window.location.href = "@Url.Action("OpisSisalto", "OmaSisaltos", routeValues: null)"' />
                        }
                        if (Session["corporate_id"] != null)
                        {
                            <input type="button" id="yritProfiili" class="btn btn-yellow ml-2" value="Opiskelijaprofiilien selaus" onclick='window.location.href = "@Url.Action("YritysSisalto", "OmaSisaltos", routeValues: null)"' />
                        }
                    }

                    @if (Convert.ToInt32(Session["islogged"]) != 1)
                    {
                        <input type="button" id="login" class="btn btn-yellow ml-2" value="Kirjaudu sisään" onclick='window.location.href = "@Url.Action("Login", "Logins", routeValues: null)"' />
                    }
                    else
                    {
                        <!--Kutsutaan Logins controllerin logout action-->
                        <input type="button" id="logout" class="btn btn-notsodanger ml-2" value="Kirjaudu ulos" onclick='window.location.href = "@Url.Action("Logout", "Logins", routeValues: null)"' />
                    }
                </form>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
        <hr />
        <footer class="container text-center">
            <p>&copy; 2019 Careeria Job App / <a href="~/Content/tietosuojaseloste/Tietosuojaseloste.pdf">Rekisteri ja tietosuojaseloste</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>