@model CareeriaDevsApp.Yritys

@{
    ViewBag.Title = "Delete";
}


<h3>Haluatko varmasti poistaa yrityksen kaikki tiedot?</h3>

<p>Poistamisen jälkeen sinun on luotava uusi tunnus, jos haluat palata sivustolle</p>

<div>
    <h4>Yritys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Yrityksen nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yrityksenNimi)
        </dd>

        <dt>
            Y-tunnus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y_tunnus)
        </dd>

        <dt>
            Osoite
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lahiosoite)
        </dd>

        <dt>
            Paikkakunta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikka.postitoimipaikka1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Peruuta", "Index")
        </div>
    }
</div>
