@model CareeriaDevsApp.Login

@{
    ViewBag.Title = "Delete";
}
    <div class="container">
        <div class="row">
            <div class="col text-center">

                <h2 class="m-5 text-center">Admin / Poista käyttäjä</h2>

                <div class="alert alert-danger mb-5 text-center" role="alert">Oletko varma että haluat poistaa <strong>@Html.DisplayFor(model => model.kayttajaNimi)</strong> käyttäjän?</div>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        @Html.DisplayFor(model => model.kayttajaNimi)
                    </li>

                    <li class="list-group-item">
                        @Html.DisplayFor(model => model.salasana)
                    </li>

                    <li class="list-group-item">
                        @Html.DisplayFor(model => model.Opiskelija.etunimi)
                    </li>

                    <li class="list-group-item">
                        @Html.DisplayFor(model => model.Yritys.yrityksenNimi)
                    </li>

                    <li class="list-group-item">
                        @Html.DisplayFor(model => model.PaaKayttaja.nimi)
                    </li>

                </ul>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <div class="form-actions no-color mt-5">
                    <input type="submit" value="Poista käyttäjä" class="btn btn-danger" />
                    @Html.ActionLink("Takaisin listanäkymään", "Index", null, new { @class = "btn btn-light" })
                </div>
                    }
            </div>
        </div>
    </div>
