@model IEnumerable<CareeriaDevsApp.Login>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col">

            <h2 class="m-5 text-center">Admin / Kaikki käyttäjät</h2>

            @Html.ActionLink("Luo uusi käyttäjä", "Create", null, new { @class = "btn btn-success mb-3" })

                <table class="table table-borderless table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.kayttajaNimi)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.salasana)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Opiskelija.etunimi)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Yritys.yrityksenNimi)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.PaaKayttaja.nimi)
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.kayttajaNimi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.salasana)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Opiskelija.etunimi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Yritys.yrityksenNimi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaaKayttaja.nimi)
                                </td>
                                <td>
                                    @Html.ActionLink("Muokkaa", "Edit", new { id = item.login_Id }, new { @class = "btn btn-secondary" })
                                    @Html.ActionLink("Poista", "Delete", new { id = item.login_Id }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        </tbody>
                    }

                </table>
</div>
    </div>
</div>