<!--Tuplea hyväksikäyttäen voi linkata kaikkiin tarvittaviin Entitymodelissa oleviin classeihin tai omiin classeihin***************-->
<!--**********************************************************OPPILASREKISTERÖINTI*************************************************-->
@model Tuple<CareeriaDevsApp.Models.LoginModel, CareeriaDevsApp.Models.OpiskelijaModel, CareeriaDevsApp.Models.PostitoimipaikkaModel, CareeriaDevsApp.Models.PuhelinNumeroModel>

    <div class="container">

        <div class="row">

            <div class="col">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <form>

                        <h1 class="m-5 text-center">Oppilasrekisteröityminen</h1>

                        <hr />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(tuple => tuple.Item1.kayttajaNimi, "Sähköpostiosoite", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EditorFor(tuple => tuple.Item1.kayttajaNimi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item1.kayttajaNimi, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(tuple => tuple.Item1.salasana, "Salasana", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EditorFor(tuple => tuple.Item1.salasana, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item1.salasana, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(tuple => tuple.Item2.etunimi, "Etunimi", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EditorFor(tuple => tuple.Item2.etunimi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.etunimi, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(tuple => tuple.Item2.sukunimi, "Sukunimi", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EditorFor(tuple => tuple.Item2.sukunimi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.sukunimi, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(tuple => tuple.Item2.postitoimipaikka_Id, "Postinumero", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EditorFor(tuple => tuple.Item2.postitoimipaikka_Id, new { htmlAttributes = new { @class = "form-control"} }) <!--disabloituna koska ei oo mitään järkee viä-->
                            @Html.ValidationMessageFor(tuple => tuple.Item2.postitoimipaikka_Id, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(tuple => tuple.Item3.postitoimipaikka, "Postitoimipaikka", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EditorFor(tuple => tuple.Item3.postitoimipaikka, new { htmlAttributes = new { @class = "form-control"} })<!--disabloituna koska ei oo mitään järkee viä-->
                            @Html.ValidationMessageFor(tuple => tuple.Item3.postitoimipaikka, "", new { @class = "text-danger" })
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(tuple => tuple.Item4.numero, "Puhelinnumero", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EditorFor(tuple => tuple.Item4.numero, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item4.numero, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item3.postinumero, "Postinumero", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(tuple => tuple.Item3.postinumero, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(tuple => tuple.Item2.postitoimipaikka_Id, "", new { @class = "text-danger" })
                            </div>
            </div>

                        <button type="submit" class="btn btn-yellow">Rekisteröidy</button>

                    </form>
                        
                    }

            </div>

            </div>

    </div>

<!--Kenttien validointiscriptejä...-->
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}